<div class="login-container">
    <h2 style="align-items: center">Bejelentkezés</h2>
    <form method="POST">
        <div class="input-group" style="align-items: flex-start">
            <label for="email">Email cím</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="input-group">
            <label for="jelszó" style="align-items: flex-start">Jelszó</label>
            <input type="password" id="jelszó" name="jelszó" required>
        </div>
        <p>Ha még nem regisztráltál: <a routerLink="/register">Fiók létrehozása</a></p>
        <button type="submit" >Bejelentkezés</button>
    </form>
</div>