@if (isLoggedIn) {
<div class="header">
    <div class="title">
      <h1 style="text-align: left;">Röplabda Bajnokság információs oldal</h1>
    </div>
    
    <nav class="menu">
      <ul>
        <li><a routerLink="/home">Főoldal</a></li>
        <li><a routerLink="/matches">Meccsek</a></li>
        <li><a routerLink="/refs">Bírók</a></li>
        <li><a routerLink="/teams">Csapatok</a></li>
        <li><a routerLink="/profile">Profil</a></li>
        
          <li ><a href="#" (click)="$event.preventDefault(); logout()" style="color: darkred;">Kijelentkezés</a></li>
        
        
      </ul>
    </nav>
  </div>
}
<router-outlet/>
