.blue{
    width: 15%;
    height: 100%;
    background-color: blue;
}
.home-container {
    margin: auto;
    background-color: rgba(255, 255, 0, 0.493); 
    padding: 40px;
    width: 70%;
    text-align: center;
    backdrop-filter: blur(2px); 
  }
  
  
  .home-image {
    width: 80%;
    height: auto;
    margin: 20px 0;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  p {
    font-size: 20px;
  }

  #src{
    font-size: 8;
  }
  