<div class="home-container">
   <h1>Üdvözlünk a KRSZ Röplabda Bajnokság információs oldalán!</h1>
   <br>
   <p>A röplabda bajnokság célja, hogy a csapatok izgalmas mérkőzéseken mérjék össze tudásukat.</p> 
   <p>Az oldalon megtekintheted a meccsek időpontját, a bírókat, valamint a résztvevő csapatokat.</p>
    
   <img src="images/roplabda.jpg"alt="Röplabda"class="home-image">
   <br>
   <p>Sikeres mérkőzéseket és jó szurkolást kíván: a KRSZ tagjai</p>
   <p><b>Röplabda,egy életre szóló sport</b></p>
   <img src="images/krsz.jpeg"alt="KRSZ"class="home-image">
   <h4 id="src">(src: https://www.pexels.com/photo/a-group-of-men-in-suits-15551970/)</h4>
</div>




